
.DS_Store
build
.git
*.egg-info
dist
output/*.png
data/coco
data/custom/images/*.jpg
data/custom/labels/*.txt
data/custom/labels/*.xml
backup
weights/*.weights
weights/darknet*
__pycache__
checkpoints/*.pth
