
.DS_Store
__pycache__
build
.git
*.egg-info
dist
data/coco
data/custom/images/*/*.jpg
data/custom/labels/*/*.txt
data/custom/labels/*/*.xml
checkpoints/*/*.pth
output/*/*.jpg
backup
weights/*.weights
weights/darknet*