
.DS_Store
__pycache__
build
.git
*.egg-info
dist
output/*.png
data/coco
data/custom/images/*/*.jpg
data/custom/labels/*/*.txt
data/custom/labels/*/*.xml
checkpoints/*/*.pth
backup
weights/*.weights
weights/darknet*